# HDL simulator files
*.cmp
*.tst
*.out

# HACK machine code
*.hack

# Python stuff
*.pyc
.idea
__python_cache__

# project 6 (This project has no files to commit, only testing / example files)
06/
# project 7 (This project has no files to commit, only testing / example files)
07/
